<div class="container" id="home_container">
<div class="jumbotron text-center text-white">
  <h1 class="display-5 text-center">Welcome for Movie <br>Ticket Booking System </h1>
  
   
    
  </p>
</div> 
</div>