@import 'bootstrap/dist/css/bootstrap';
.navbar {
    background-color: grey !important;
        }
    .nav-link {
      color: white !important;
    }
    
    #logo {
        float: left;
        font-size: 1.7em;
        color:#fff;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: bold;
    
    }

.jumbotron{
        
        background-image: asset-url('1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height:525px;
        
        
    }
    #home_container{
        margin-top: 25px;
    }

    #page-content {
        flex: 1 0 auto;
        
      }
    
    
    body {
        height: 100%;
      }
      